@import url(bootstrap.min.css);
@import "all.min.css";
@import url('https://fonts.googleapis.com/css?family=Fugaz+One|Permanent+Marker');
@import url('https://fonts.googleapis.com/css?family=Caveat+Brush');


h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

*,
*::after,
*::before {
    box-sizing: border-box;
}

.img-fluid {
    display: block;
    width: 100%;
    height: auto;
}

/* start body  */
body {
    font-family: 'Alata', sans-serif;

    height: 633px;

    background-image: url(../images/img7.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

}

/* start Header Section */

.navbar-toggler .fas {
    color: white;
}



header {
    top: 0;
    /* z-index: 99; */
    /* background-color:cornsilk; */
    /* opacity: .3%; */
}

header a {
    text-decoration: none;
    color: white;
    font-size: 20px;
    outline: 0;


}

header a:hover {
    text-decoration: none;
    color: palegreen;

}

.navbar-brand{

    background-color:rgba(255, 254, 254, 0.3)
}
.navbar-brand img{
    width: 210px;
    height: 40px;
}

.dropdown-menu a{
font-size: 20px;
 margin: 0px;
 padding: 0px;
 width: 100px;
 margin-right: 400px;
}
.dropdown-menu.show {
    display: inline;
    background-color: #b1b1b1;
}

#slogan .container h1 {
    color: white;
    border: 1px solid white;
    margin: 220px;
    padding: 40px
}

/* footer strat here */


footer {
    height: 90px;
    background: #323232;

    padding: 8px 0 22px 0;

    color: #b1b1b1;
    overflow: hidden;

}

footer a {
    text-decoration: none;
}

footer ul {

    float: right;
}

footer ol a i {
    /* color: #3c5a99;*/
    color: #b1b1b1;
}


/* portfolio start here */
#portfolio .container .row h1 {
    color: aqua;
    margin-left: 400px;
    text-align: center;
    border-bottom: 2px solid cyan;
}

#portfolio .container .row .col-6 {
    color: dodgerblue;
    margin-top: 30px;
    margin-bottom: 30px;
    text-decoration: none;
}

#portfolio .container .row .col-6 h3 {
    color: coral;
    margin-top: 30px;
    margin-bottom: 30px;
}

#portfolio .container .row .col-6 p {
    margin-bottom: 30px;


}

#project .container h1 {
    color: aqua;
    margin-left: 200px;
    text-align: center;

}

/* responsive */

@media only screen and (max-width: 992px) {
    body {
        height: 785px;

    }

}

@media only screen and (max-width: 768px) {
    body {
        height: 670px;

    }

    #slogan .container {
        text-align: center;
    }


    #slogan .container h1 {
        margin: 25px;
        margin-top: 129px;
    }


}

@media only screen and (max-width: 393px) {
    footer .fa-2x {
        font-size: 1em;
    }

}

@media only screen and (max-width: 329px) {
    footer p {
        font-size: 10px;
    }

}

@media only screen and (max-width: 299px) {
    body {
        height: 800px;
    }

}