*,
*::after,
*::before {
    box-sizing: border-box;
}


.row{
    overflow: hidden;
 
}
.col-3{
    float: left;
    width: 25%;
    /* padding-left: 15px;
    padding-right: 15px; */
    text-align: justify;
  
}

img{
    width: 100%;
    height: 100%;
}
.img-setting{
    margin-top: 40px;
}